@font-face {
  font-family: brutalsky;
  src: url(BNMachine.ttf);
}
#header {
  width: 100%;
  height: 200px;
  text-align: center;
  font-family: brutalsky, "Arial Black", "sans serif";
  font-size: 120px;
}
#content {
  width: 100%;
  height: 800px;
}
#lobbyElements {
  width: 200px;
  float: left;
}
#gameElements {
  width: 100% - 200px;
  float: left;
}
#footer {
  width: 100%;
  height: 100px;
  text-align: center;
}
