html{
  height: 100%;
}
body { 
  margin: 0px;
  height:100%;
  overflow: hidden;
}
#lobbyElements {
  padding: 5px;
  width: 200px;
  height: 400px;
  float: left;
}
#gameElements {
  width: calc(100% - 210px);
  height: 100%;
  float: left;
}
